@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}
